* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding: 20px 70px;
}

/* Navigation */

.top-navigation {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Header Section */

header {
  background: url('../images/banner.png') center no-repeat;
  background-size: cover;
}

header h1 {
  padding: 300px 70px;
  text-align: center;
  color: white;
}
