@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

:root {
  --dark-slate-blue: #1e3656;
  --white: #fff;
  --light-sage: #f1faef;
  --faded-red: #e43c4b;
  --gray: #d8d8d8;
  --dull-blue: #487b9b;
  --dark: #272727;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 400 14px/21px "Roboto", sans-serif;
  letter-spacing: 0.2px;
  color: #354052;
}

/* General Styles */

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px 40px 0;
}

h1 {
  text-align: center;
  letter-spacing: 0.6px;
  color: var(--white);
  font: 700 50px "Roboto", sans-serif;
}

h2 {
  letter-spacing: 0.4px;
  color: var(--faded-red);
  font: 700 32px "Roboto", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  letter-spacing: 0.3px;
  color: var(--dark);
  font: 700 24px "Roboto", sans-serif;
}

h4 {
  letter-spacing: 0.2px;
  color: var(--dark);
  font: 500 20px "Roboto", sans-serif;
  margin-bottom: 20px;
}

h5 {
  letter-spacing: 0.2px;
  color: #413d3d;
  font: 700 18px "Roboto", sans-serif;
  text-align: center;
}

p {
  font-size: 16px;
  color: var(--dark-slate-blue);
}

img {
  width: 200px;
  height: 200px;
}

.content {
  padding: 120px 40px;
}

.footer .content {
  padding: 100px 40px;
}

/* Navigation */

.top-navigation {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 100%;
  letter-spacing: 0.5px;
  padding: 0 40px;
}

.top-navigation p {
  font-size: 18px;
  color: white;
}

.top-navigation a {
  color: var(--white);
  text-decoration: none;
}

/* Header Section */

header {
  background: url('/images/banner.png') center no-repeat;
  background-size: cover;
}

header h1 {
  padding: 260px 0;
}

/* About Section */

.about h4 {
  position: relative;
  width: 50%;
  left: 50%;
  padding-left: 40px;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container > * {
  flex: 50%;
  padding: 0 40px;
}

/* Articles Section */

.articles {
  background-color: var(--light-sage);
}

.articles > section {
  display: flex;
}

.article {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.article img {
  box-shadow: 1px 1px 30px 10px var(--gray);
}

.article div {
  width: calc(100% - 200px);
  padding: 0 40px 0 50px;
}

/* Locations Section */

.locations {
  padding: 60px 40px;
}

.locations > div {
  display: flex;
  justify-content: center;
}

.locations h3 {
  text-align: center;
  margin-bottom: 50px;
}

.location {
  padding: 0 20px 20px;
}

.location h5 {
  margin: 20px 0 8px;
}


.caption {
  text-align: center;
  font: 500 14px "Roboto", sans-serif;
  color: #7c7c7c;
}

/* Footer and Newsletter Section*/

.footer {
  border-top: 1px solid var(--gray);
}

footer {
  background: var(--dark-slate-blue);
}

footer > p {
  color: var(--white);
  text-align: center;
}

.footer form {
  max-width: 500px;
  position: relative;
  margin: 45px auto 0;
}

.footer form > * {
  padding: 20px;
  display: inline-block;
   outline: 1px solid transparent;
}

.footer input {
  width: 100%;
  border: 1px solid var(--gray);
  padding-right: 170px;
  color: var(--dark-slate-blue);
  border-radius: 5px 30px 30px 5px;
  font: 500 14px "Roboto", sans-serif;
}

.footer button {
  font: 500 14px "Roboto", sans-serif;
  background: var(--dark-slate-blue);
  border-radius: 30px;
  width: 160px;
  color: var(--white);
  position: absolute;
  right: 0;
}

/* Sign Up / Login Section */

.signup-login {
  background: url('/images/onboarding-bg.png');
  min-height: 100vh;
  background-size: cover;
}

.signup-login form {
  height: 1000px;
}